<section class="products container">
    <h2 id="products" class="products__title">Products</h2>
    <div class="products__list row">
        <article class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="img/baby-yoda.svg" alt="Baby Yoda" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Baby Yoda</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro fuga autem possimus
                    eveniet facere, non minus magnam obcaecati, tenetur recusandae, corporis itaque suscipit. Vero illo
                    nulla asperiores laudantium tempore porro!</p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#product-info-modal" class="btn btn-info">Info</a>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </article>

        <article class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="img/banana.svg" alt="Banana" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Banana</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
                    fuga autem possimus eveniet facere, non minus magnam obcaecati,
                    tenetur recusandae, corporis itaque suscipit. Vero illo nulla
                    asperiores laudantium tempore porro!
                </p>
                <a href="#" class="btn btn-info">Info</a>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </article>

        <article class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="img/girl.svg" alt="Girl" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Girl</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
                    fuga autem possimus eveniet facere, non minus magnam obcaecati,
                    tenetur recusandae, corporis itaque suscipit. Vero illo nulla
                    asperiores laudantium tempore porro!
                </p>
                <a href="#" class="btn btn-info">Info</a>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </article>

        <article class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <img src="img/viking.svg" alt="Viking" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Viking</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
                    fuga autem possimus eveniet facere, non minus magnam obcaecati,
                    tenetur recusandae, corporis itaque suscipit. Vero illo nulla
                    asperiores laudantium tempore porro!
                </p>
                <a href="#" class="btn btn-info">Info</a>
                <a href="#" class="btn btn-primary">Buy</a>
            </div>
        </article>

    </div>
</section>